{% extends 'base.html.twig' %}

{% block title %}Le tirage{% endblock %}

{% block body %}

<div class="container mx-3">
<p>
{% for chain in chains %}
    {% for link in chain %}
        {% if not(loop.first) %} -> {% endif %}{{ link }}
    {% endfor %}
    <br>
{% endfor %}
</p>
</div>

<div class="mt-5 mb-5">
    <table class="table table-sm">
        <thead>
            <th>#</th>
            <th>il/elle</th>
            <th>à tiré</th>
            <th>lui/elle</th>
            <th>ne pouvait pas tirer</th>
        </thead>
        <tbody>
            {% for utilisateur in utilisateurs %}
                <tr>
                    <td>{{ loop.index }}</td>
                    <td>{{ utilisateur }}</td>
                    <td> -> </td>
                    <td><b>{{ utilisateur.utilisateurTire ? utilisateur.utilisateurTire }}</b></td>
                    <td><i>{{ utilisateur.utilisateursInterdits | join(', ', ' et ') }}</i></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

<div class="mt-5 mb-5">
<a href="{{ path('tirage_make') }}" class="btn btn-success">Refaire le tirage</a>
</div>
{% endblock %}
