{% extends "base.html.twig" %}

{% block title %}Utilisateurs{% endblock %}

{% block body %}
    <table class="table table-sm">
        <thead>
            <tr>
                <th>#</th>
                <th>Utilisateur</th>
                <th>Date de naissance</th>
                <th>Ne peut pas tirer</th>
                <th>Rôles</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for utilisateur in utilisateurs %}
                <tr>
                    <td>{{ loop.index }}</td>
                    <td>{{ utilisateur.prenom }} {{ utilisateur.nom}} [{{ utilisateur.pseudo }}]</td>
                    <td>{{ utilisateur.dateDeNaissance | date('d/m/Y') }}</td>
                    <td>{{ utilisateur.utilisateursInterdits | join(', ', ' et ') }}</td>
                    <td>
                        {% for role in utilisateur.roles %}
                            
                            {% if role == 'ROLE_SPECTATEUR' %}
                                <span class="badge rounded-pill bg-warning">spectateur</span>
                            {% elseif role == 'ROLE_PARTICIPANT' %}
                                <span class="badge rounded-pill bg-primary">participant</span>
                            {% elseif role == 'ROLE_ADMIN' %}
                                <span class="badge rounded-pill bg-success">admin</span>
                            {% elseif role == 'ROLE_NOT_ACTIVE' %}
                                <span class="badge rounded-pill bg-danger">non actif</span>
                            {% endif %}
                            
                        {% endfor %}
                    </td>
                    <td>
                        <div class="btn-group">
                            <a type="button" class="btn btn-outline-primary" href="{{ path('admin_modifier_utilisateur', {'id': utilisateur.id}) }}" class=""><i class="bi bi-pencil-square"></i></a>
                            <button type="button" class="btn btn-outline-primary dropdown-toggle dropdown-toggle-split" data-bs-toggle="dropdown" aria-expanded="false">
                                <span class="visually-hidden">Dérouler le menu</span>
                            </button>
                            <ul class="dropdown-menu">
                            <li>
                                <form method="post" action="{{ path('admin_activer_role_utilisateur', {'id': utilisateur.id, 'role': 'ROLE_SPECTATEUR' }) }}">
                                    <input type="hidden" name="_token" value="{{ csrf_token('update' ~ utilisateur.id) }}">
                                    <button class="dropdown-item">Spectateur</button>
                                </form>
                            </li>
                            <li>
                                <form method="post" action="{{ path('admin_activer_role_utilisateur', {'id': utilisateur.id, 'role': 'ROLE_PARTICIPANT' }) }}">
                                    <input type="hidden" name="_token" value="{{ csrf_token('update' ~ utilisateur.id) }}">
                                    <button class="dropdown-item">Participant</button>
                                </form>
                            </li>
                            <li>
                                <form method="post" action="{{ path('admin_activer_role_utilisateur', {'id': utilisateur.id, 'role': 'ROLE_NOT_ACTIVE' }) }}">
                                    <input type="hidden" name="_token" value="{{ csrf_token('update' ~ utilisateur.id) }}">
                                    <button class="dropdown-item">Désactiver le compte</button>
                                </form>
                            </li>
                            <li><hr class="dropdown-divider"></li>
                            <li>
                                <form method="post" action="{{ path('admin_supprimer_utilisateur', {'id': utilisateur.id }) }}" onsubmit="return confirm('Voulez-vous vraiment supprimer cet utilisateur?');">
                                    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ utilisateur.id) }}">
                                    <button class="dropdown-item">Supprimer l'utilisateur</button>
                                </form>
                            </li>
                            </ul>
                        </div>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}