{% extends "base.html.twig" %}

{% block title %}Listes{% endblock %}

{% block body %}

<div class="mt-5">
    <a href="{{ path('compte_ajouter_souhait') }}" class="btn btn-success">Ajouter</a>
</div>

{% for utilisateur in utilisateurs %}
    <div class="mt-5">
        <h3 {% if utilisateur == app.user.utilisateurTire %}class="text-primary"{% endif %}>La liste de {{ utilisateur }}</h3>

        <ul class="list-group list-group-flush list-group-item-action">
        {% if utilisateur.souhaits is not empty %}
        {% for souhait in utilisateur.souhaits %}
            <a href="{{ path('compte_modifier_souhait', {'id': souhait.id }) }}" class="list-group-item list-group-item-action d-flex justify-content-between align-items-start{% if souhait.emetteur != app.user and souhait.achete %} disabled{% endif %}">
                {{ souhait }}
                {% if souhait.emetteur != utilisateur %}
                    <span class="badge rounded-pill bg-secondary">suggéré par {{ souhait.emetteur == app.user ? 'moi' : souhait.emetteur }}</span>
                {% endif %}
            </a>
        {% endfor %}
        {% else %}
            <li class="list-group-item list-group-item-action d-flex justify-content-between align-items-start">
                {{ utilisateur }} n'a pas encore de liste
            </li>
        {% endif %}
        </ul>
    </div>
{% endfor %}

{% endblock %}