{% if is_granted('ROLE_SPECTATEUR') %}

    <div class="mt-5">
            <a href="{{ path('compte_ajouter_souhait') }}" class="btn btn-outline-success"><i class="bi bi-gift"></i> Ajouter un souhait</a>
        </div>
    <div class="mt-5">
        <h3 {% if this.utilisateur == app.user.utilisateurTire %}class="text-primary"{% endif %}>
            {% if this.utilisateur == app.user %}
                Ma liste
            {% else %}    
                {% if this.utilisateur == app.user.utilisateurTire %}<i class="bi bi-gift"></i>{% endif %} La liste de {{ this.utilisateur }}
            {% endif %}
        </h3>

        <ul class="list-group list-group-flush list-group-item-action">
        {% if this.utilisateur.souhaits is not empty %}
        {% for souhait in this.utilisateur.souhaits %}
            <a href="{{ path('compte_modifier_souhait', {'id': souhait.id }) }}" class="list-group-item list-group-item-action d-flex justify-content-between align-items-start responsive-flex">
                {{ souhait }}
                {% if souhait.destinataire != app.user and souhait.achete %}
                    <span class="badge rounded-pill bg-primary">acheté{% if souhait.acheteur == app.user %} par moi{% endif %}</span>
                {% endif %}
                {% if souhait.emetteur != this.utilisateur %}
                    <span class="badge rounded-pill bg-info">suggéré par {{ souhait.emetteur == app.user ? 'moi' : souhait.emetteur }}</span>
                {% else %}
                    <span class="badge rounded-pill bg-success">suggéré par {{ souhait.emetteur == app.user ? 'moi' : souhait.emetteur }}</span>
                {% endif %}
                
            </a>
        {% endfor %}
        {% else %}
            <li class="list-group-item list-group-item-action d-flex justify-content-between align-items-start">
                {{ this.utilisateur }} n'a pas encore de liste
            </li>
        {% endif %}
        </ul>
    </div>

{% endif %}
