{% if is_granted('ROLE_SPECTATEUR') %}


  <div class="accordion-item">
    <h2 class="accordion-header" id="heading-{{ this.utilisateur.id}}"> 
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-{{ this.utilisateur.id }}" aria-expanded="false" aria-controls="collapse-{{ this.utilisateur.id }}">
            {% if this.utilisateur == app.user %}
                Ma liste
            {% else %}    
                {% if this.utilisateur == app.user.utilisateurTire %}<i class="bi bi-gift"></i>&nbsp;{% endif %}La liste {% if  this.utilisateur.prenom|first|lower in ['a', 'e', 'i', 'o', 'u', 'y'] %}d'{% else %}de {% endif %}{{ this.utilisateur }}
            {% endif %}
        </button>
    </h2>
    <div id="collapse-{{ this.utilisateur.id }}" class="accordion-collapse collapse" aria-labelledby="heading-{{ this.utilisateur.id}}">
      <div class="accordion-body">
        {% if this.utilisateur.souhaits is not empty %}
        <div class="row row-cols-1 row-cols-md-2 row-cols-xl-4 g-4">
            {% for souhait in this.utilisateur.souhaits %}
                <div class="col">
                    <div class="card h-100 border-{% if souhait.emetteur == this.utilisateur %}success{% else %}primary{% endif %}">
                    <div class="card-header">
                        <h4>{{ souhait }}</h4>
                        <p>
                            {% if souhait.emetteur != this.utilisateur %}
                                <span class="align-middle badge rounded-pill bg-info">suggéré par {{ souhait.emetteur == app.user ? 'moi' : souhait.emetteur }}</span>
                            {% else %}
                                <span class="align-middle badge rounded-pill bg-success">suggéré par {{ souhait.emetteur == app.user ? 'moi' : souhait.emetteur }}</span>
                            {% endif %}
                            {% if souhait.destinataire != app.user and souhait.achete %}
                                <span class="align-middle badge rounded-pill bg-primary">acheté{% if souhait.acheteur == app.user %} par moi{% endif %}</span>
                            {% endif %}
                        </p>
                    </div>
                        <div class="card-body">
                            {{ souhait.informations }}
                        </div>
                            {% if souhait.lien %}
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item"><a href="{{ souhait.lien|raw }}">Voir le produit ou un exemple</a></li>
                        </ul>
                        {% endif %}
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">Ajouté le {{ souhait.createdAt | date('d/m/Y') }}</li>
                            {% if souhait.updatedAt and souhait.updatedAt | date('d/m/Y') != souhait.createdAt | date('d/m/Y') %}<li class="list-group-item">Mis à jour le {{ souhait.updatedAt | date('d/m/Y') }}</li>{% endif %}
                        </ul>
                        <div class="card-footer text-center">
                            <a href="{{ path('compte_modifier_souhait', {'id': souhait.id }) }}" class="btn btn-outline-{% if souhait.emetteur == this.utilisateur %}success{% else %}primary{% endif %} card-link"><i class="bi bi-gift"></i> Modifier ce souhait</a>
                            {% if souhait.destinataire != app.user %}
                                {% if souhait.achete %}
                                    <form class="mt-2" method="post" action="{{ path('compte_rendre_souhait', {'id': souhait.id }) }}" onsubmit="return confirm('Voulez-vous vraiment enlever la marque d\'achat?');">
                                        <input type="hidden" name="_token" value="{{ csrf_token('unbuy' ~ souhait.id) }}">
                                        <button class="btn btn-primary ">Enlever la marque d'achat</button>
                                    </form>
                                {% else %}
                                    <form class="mt-2" method="post" action="{{ path('compte_acheter_souhait', {'id': souhait.id }) }}" onsubmit="return confirm('Voulez-vous vraiment marquer comme acheté ce souhait?');">
                                        <input type="hidden" name="_token" value="{{ csrf_token('buy' ~ souhait.id) }}">
                                        <button class="btn btn-primary ">Marquer comme acheté</button>
                                    </form>
                                {% endif %}
                            {% endif %}
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
        {% else %}
            <span class="list-group-item list-group-item-action d-flex justify-content-between align-items-start">
                {{ this.utilisateur }} n'a pas encore de liste
            </span>
        {% endif %}
      </div>
    </div>
  </div>



    {# <div class="mt-5">
        <h2 {% if this.utilisateur == app.user.utilisateurTire %}class="text-primary"{% endif %}>
            
        </h2>

        
    </div> #}

{% endif %}
